:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --br-fone: #2f303a;
}
body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Header logo */
.logo {
  font-family: Raleway, sans-serif;
  color: #000;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo:hover,
:focus {
  color: var(--accent-color);
}
.logo-web {
  color: var(--accent-color);
}
/* Footer logo */
.logo-footer {
  font-family: Raleway, sans-serif;
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-footer:hover,
:focus {
  color: var(--accent-color);
}
/* Navigation */
.site-nav .link {
  color: var(--primary-text-color);
}

.contacts .link {
  color: var(--secondary-color);
}

.site-nav .link,
.contacts .link,
.backlight {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Backlight */
.backlight {
  color: var(--accent-color);
}
/* Section*/
.hero-section {
  background: var(--br-fone);
  text-align: center;
}
.hero {
  color: var(--primary-white-color);

  letter-spacing: 0.06em;
  text-transform: uppercase;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.button {
  font-family: Roboto;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
/* .button > .primary {
  font-family: Roboto;
  color: var(--accent-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
} */
.button.primary:hover,
.button.primary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.backlight-button {
  font-family: Roboto;
  background-color: var(--accent-color);
  color: var(--secondary-background-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
/* features */
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}
.text-features {
  color: var(--secondary-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* Team */
.section {
  text-align: center;
  background: #f5f4fa;
}

.profession {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
}
.specialist {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/* Portfolio */
.product {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
/* Footer */
.mailo-tel {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.coordinates {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.basement {
  background: var(--br-fone);
}
/* Акцент #2196F3;
 */
/* Текст параграф #757575; 
 */
/* Основний текст   #212121;
*/
/* Підвал #2F303A;
  білий  #FFFFFF;
 чорний #000000;
 background button: #F5F4FA;

 */
